<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1 class="main__title">Todo List</h1>
    <div id="root">
      <!-- Input Class -->
      <div class="input__class">
        <input
          class="input__class_input"
          type="text"
          v-model="todoInputted"
          @keyup.enter="submitTodo"
        />
        <button class="input__class_button">Submit</button>
      </div>

      <!-- Todos -->
      <div v-for="todo in todos" class="todos__container">
        <div class="todos__container_div">
          <p class="todos__container_div_todo">{{ todo.todo }}</p>
          <p @click="remove(todo.id)" class="todos__container_div_close">x</p>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>
